ConanInstall/build/ALL_BUILD.vcxproj
ConanInstall/build/ALL_BUILD.vcxproj.filters
ConanInstall/build/cmake_install.cmake
ConanInstall/build/CMakeCache.txt
ConanInstall/build/cmakedeps_macros.cmake
ConanInstall/build/CMakePresets.json
ConanInstall/build/compressor.sln
ConanInstall/build/compressor.vcxproj
ConanInstall/build/compressor.vcxproj.filters
ConanInstall/build/conan_toolchain.cmake
ConanInstall/build/conanbuild.bat
ConanInstall/build/conanbuildenv-release-x86_64.bat
ConanInstall/build/conanrun.bat
ConanInstall/build/conanrunenv-release-x86_64.bat
ConanInstall/build/deactivate_conanbuild.bat
ConanInstall/build/deactivate_conanbuildenv-release-x86_64.bat
ConanInstall/build/deactivate_conanrun.bat
ConanInstall/build/FindZLIB.cmake
ConanInstall/build/module-ZLIB-release-x86_64-data.cmake
ConanInstall/build/module-ZLIB-Target-release.cmake
ConanInstall/build/module-ZLIBTargets.cmake
ConanInstall/build/ZERO_CHECK.vcxproj
ConanInstall/build/ZERO_CHECK.vcxproj.filters
ConanInstall/build/ZLIB-release-x86_64-data.cmake
ConanInstall/build/ZLIB-Target-release.cmake
ConanInstall/build/ZLIBConfig.cmake
ConanInstall/build/ZLIBConfigVersion.cmake
ConanInstall/build/ZLIBTargets.cmake
ConanInstall/build/CMakeFiles/cmake.check_cache
ConanInstall/build/CMakeFiles/CMakeConfigureLog.yaml
ConanInstall/build/CMakeFiles/generate.stamp
ConanInstall/build/CMakeFiles/generate.stamp.depend
ConanInstall/build/CMakeFiles/generate.stamp.list
ConanInstall/build/CMakeFiles/TargetDirectories.txt
ConanInstall/build/CMakeFiles/2bbd219ecb0db7ce7f99929b1d7c8d55/generate.stamp.rule
ConanInstall/build/CMakeFiles/3.26.4/CMakeCCompiler.cmake
ConanInstall/build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
ConanInstall/build/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
ConanInstall/build/CMakeFiles/3.26.4/CMakeSystem.cmake
ConanInstall/build/CMakeFiles/3.26.4/VCTargetsPath.txt
ConanInstall/build/CMakeFiles/3.26.4/VCTargetsPath.vcxproj
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.exe
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.vcxproj
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CMakeCCompilerId.obj
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
ConanInstall/build/CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.recipe
ConanInstall/build/CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
ConanInstall/build/Release/compressor.exe
ConanInstall/build/Release/zlib1.dll
ConanInstall/build/compressor.dir/Release/compressor.exe.recipe
ConanInstall/build/compressor.dir/Release/main.obj
ConanInstall/build/compressor.dir/Release/compressor.tlog/CL.command.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/Cl.items.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/CL.read.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/CL.write.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/compressor.lastbuildstate
ConanInstall/build/compressor.dir/Release/compressor.tlog/CustomBuild.command.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/CustomBuild.read.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/CustomBuild.write.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/link.command.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/link.read.1.tlog
ConanInstall/build/compressor.dir/Release/compressor.tlog/link.write.1.tlog
ConanInstall/build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
ConanInstall/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
ConanInstall/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
ConanInstall/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
ConanInstall/build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
ConanInstall/build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
ConanInstall/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
ConanInstall/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
ConanInstall/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
ConanInstall/build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
.vscode/tasks.json
